# History files
.Rhistory
.Rapp.history
.RData
.RDataTmp

# User-specific files
.Rproj.user/
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Paper
paper/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# pkgdown site
docs/

# translation temp files
po/*~

# RStudio Connect folder
rsconnect/

# macOS
.DS_Store

# Quarto
.quarto

# paper/ build artifacts
paper/Rplots*.pdf
paper/*.log
paper/*.html
paper/*.pdf
paper/*.tex
paper/cache/
paper/figure/
paper/rhobots_files/
